// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$purple : #240E3A;
.btn {
  color:#DDB24F;
  background-color: $purple;
}
